.backImg
{
    background-image: url('C:\Users\HP\Desktop\Git\Laurette-portfolio\Laurette-portfolio\src\assets\aina.jpg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;
   
    
}